<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=1; target-densitydpi=device-dpi;"/>
<title>Editar Mapa</title>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<script src="http://code.createjs.com/easeljs-0.7.0.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script> 
<script src="./javascripts/usuario/InterfaceUsuario.js"></script>
<script src="./javascripts/usuario/MapaConceitual.js"></script>
<script src="./javascripts/usuario/Usuario.js"></script>
<script src="./javascripts/usuario/GerenciadorConceito.js"></script>
<script src="./javascripts/usuario/GerenciadorLigacao.js"></script>
<script src="./javascripts/usuario/GerenciadorSemiLigacao.js"></script>
<script src="./javascripts/usuario/GerenciadorLista.js"></script>
<script src="./javascripts/usuario/HandTool.js"></script>

<link rel="stylesheet" href="./stylesheets/usuario/estilos.css">
<link href="../stylesheets/bootstrap.min.css" rel="stylesheet">

<script>
var ip = "<%=ip%>";
var porta = <%=porta%>;

function main(idUsuario,idMapa){
	
	var usuario;
	var nomeCanvas;
	var listaElementos;
	
	nomeCanvas = "canvas";
	listaElementos = $("#lista");
	
	usuario = new Usuario(idUsuario, idMapa, ip, porta,listaElementos, nomeCanvas);
	usuario.conectarServidor();
	
	
}

function logout(){
	var href = "http://" + ip + ":" + porta + "/" + "logout";
	window.location = href;
}

</script>

</head>
<body onload="main(<%=idUsuario%>, <%=idMapa%>)">

	
	<!-------------------------------- 
	MODAL PARA CRIAR CONCEITO 
	----------------------------------->
	
	<div id="interfaceCriarConceito" class="modal fade">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			<h4 class="modal-title">Criar novo conceito</h4>
		  </div>
		  <div class="modal-body">
		  
				<div class="form-group">
					 <label for="conceito">Novo Conceito</label>
					<input id="conceito" name="conceito" type="text" class="form-control" placeholder="Digite o conceito" required autofocus>
				</div>
				<div class="form-group">
					<label for="corFundo">Cor do Fundo</label>
					<input id="corFundo" type="color" class="form-control" placeholder="Clique para selecionar uma cor" required autofocus>
				</div>
				<div class="form-group">
					<div class="dropdown">
					 <label for="fonte">Fonte</label>
					  <button type="button" id="fonte" class="btn btn-default dropdown-toggle" data-toggle="dropdown" required autofocus>Arial</button>
					  <ul class="dropdown-menu" role="menu">
					    <% var listaFontes = [
					    	"Arial",
					    	"Times New Roman",
					    	"Georgia",
					    	"Tahoma",
					    	"Verdana",
					    	"Impact",
					    	"Comic Sans"
					    ];
					     %>
					    
					    <% for(var i=0; i < listaFontes.length; i++){ %>
					    
					    	 <li onclick="$(fonte).text($(this).text())"><%=listaFontes[i]%></li>
					    <%}%> 
					  </ul>
					  <!-- dropDown-->
					  </div>
				</div>
				
				<div class="form-group">
					<label for="corFonte">Cor da Fonte</label>
					<input id="corFonte" type="color" class="form-control" placeholder="Clique para selecionar uma cor" required autofocus>
				</div>
				
				<div class="form-group">
					<div class="dropdown">
					 <label for="tamanhoFonte">Tamanho da Fonte</label>
					  <button type="button" id="tamanhoFonte" class="btn btn-default dropdown-toggle" data-toggle="dropdown" required autofocus>9px</button>
					  <ul class="dropdown-menu" role="menu">
					    <% var listaTamanhoFontes = [
					    	"8px",
					    	"9px",
					    	"10px",
					    	"11px",
					    	"12px",
					    	"14px",
					    	"18px",
					    	"24px",
					    	"30px"
					    ];
					     %>
					    
					    <% for(var i=0; i < listaTamanhoFontes.length; i++){ %>
					    
					    	 <li onclick="$(tamanhoFonte).text($(this).text())"><%=listaTamanhoFontes[i]%></li>
					    <%}%> 
					  </ul>
					  <!-- dropDown-->
					  </div>
				</div>
					  
		  </div>
		  <div class="modal-footer">
		  	<button type="button" id="criarConceito" class="btn btn-primary">Criar</button>
			<button data-dismiss="modal" id="cancel" class="btn btn-default">Cancelar</button>
		  </div>
		  
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
	
	<!-------------------------------- 
	MODAL PARA CRIAR PALAVRA DE LIGACAO 
	----------------------------------->
	
	<div id="interfaceCriarLigacao" class="modal fade">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			<h4 class="modal-title">Criar nova ligacao</h4>
		  </div>
		  <div class="modal-body">
		  
				<div class="form-group">
					 <label for="conceito">Nova Ligacao</label>
					<input id="ligacao" name="ligacao" type="text" class="form-control" placeholder="Digite a palavra de ligacao" required autofocus>
				</div>
				<div class="form-group">
					<label for="corFundol">Cor do Fundo</label>
					<input id="corFundol" type="color" class="form-control" placeholder="Clique para selecionar uma cor" required autofocus>
				</div>
				<div class="form-group">
					<div class="dropdown">
					 <label for="fontel">Fonte</label>
					  <button type="button" id="fontel" class="btn btn-default dropdown-toggle" data-toggle="dropdown" required autofocus>Arial</button>
					  <ul class="dropdown-menu" role="menu">
					    <% var listaFontes = [
					    	"Arial",
					    	"Times New Roman",
					    	"Georgia",
					    	"Tahoma",
					    	"Verdana",
					    	"Impact",
					    	"Comic Sans"
					    ];
					     %>
					    
					    <% for(var i=0; i < listaFontes.length; i++){ %>
					    
					    	 <li onclick="$(fontel).text($(this).text())"><%=listaFontes[i]%></li>
					    <%}%> 
					  </ul>
					  <!-- dropDown-->
					  </div>
				</div>
				
				<div class="form-group">
					<label for="corFontel">Cor da Fonte</label>
					<input id="corFontel" type="color" class="form-control" placeholder="Clique para selecionar uma cor" required autofocus>
				</div>
				
				<div class="form-group">
					<div class="dropdown">
					 <label for="tamanhoFontel">Tamanho da Fonte</label>
					  <button type="button" id="tamanhoFontel" class="btn btn-default dropdown-toggle" data-toggle="dropdown" required autofocus>9px</button>
					  <ul class="dropdown-menu" role="menu">
					    <% var listaTamanhoFontes = [
					    	"8px",
					    	"9px",
					    	"10px",
					    	"11px",
					    	"12px",
					    	"14px",
					    	"18px",
					    	"24px",
					    	"30px"
					    ];
					     %>
					    
					    <% for(var i=0; i < listaTamanhoFontes.length; i++){ %>
					    
					    	 <li onclick="$(tamanhoFontel).text($(this).text())"><%=listaTamanhoFontes[i]%></li>
					    <%}%> 
					  </ul>
					  <!-- dropDown-->
					  </div>
				</div>
					  
		  </div>
		  <div class="modal-footer">
		  	<button type="button" id="criarLigacao" class="btn btn-primary">Criar</button>
			<button data-dismiss="modal" id="cancel" class="btn btn-default">Cancelar</button>
		  </div>
		  
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
	<!------------------------  
	MODAL PARA EDITAR CONCEITO 
	---------------------------->
	
	<div id="interfaceEdicao" class="modal fade">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			<h4 class="modal-title">Editar conceito</h4>
		  </div>
		  <div class="modal-body">
		  
				<div class="form-group">
					 <label for="textoEdicao">Texto</label>
					<input id="textoEdicao" name="texto" type="text" class="form-control" required autofocus>
				</div>
				<div class="form-group">
					<label for="corFundoEdicao">Cor do Fundo</label>
					<input id="corFundoEdicao" type="color" class="form-control" placeholder="Clique para selecionar uma cor" required autofocus>
				</div>
				<div class="form-group">
					<div class="dropdown">
					 <label for="fonteEdicao">Fonte</label>
					  <button type="button" id="fonteEdicao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" required autofocus>Arial</button>
					  <ul class="dropdown-menu" role="menu">
					    <% var listaFontes = [
					    	"Arial",
					    	"Times New Roman",
					    	"Georgia",
					    	"Tahoma",
					    	"Verdana",
					    	"Impact",
					    	"Comic Sans"
					    ];
					     %>
					    
					    <% for(var i=0; i < listaFontes.length; i++){ %>
					    
					    	 <li onclick="$(fonteEdicao).text($(this).text())"><%=listaFontes[i]%></li>
					    <%}%> 
					  </ul>
					  <!-- dropDown-->
					  </div>
				</div>
				
				<div class="form-group">
					<label for="corFonteEdicao">Cor da Fonte</label>
					<input id="corFonteEdicao" type="color" class="form-control" placeholder="Clique para selecionar uma cor" required autofocus>
				</div>
				
				<div class="form-group">
					<div class="dropdown">
					 <label for="tamanhoFonteEdicao">Tamanho da Fonte</label>
					  <button type="button" id="tamanhoFonteEdicao" class="btn btn-default dropdown-toggle" data-toggle="dropdown" required autofocus>9px</button>
					  <ul class="dropdown-menu" role="menu">
					    <% var listaTamanhoFontes = [
					    	"8px",
					    	"9px",
					    	"10px",
					    	"11px",
					    	"12px",
					    	"14px",
					    	"18px",
					    	"24px",
					    	"30px"
					    ];
					     %>
					    
					    <% for(var i=0; i < listaTamanhoFontes.length; i++){ %>
					    
					    	 <li onclick="$(tamanhoFonteEdicao).text($(this).text())"><%=listaTamanhoFontes[i]%></li>
					    <%}%> 
					  </ul>
					  <!-- dropDown-->
					  </div>
				</div>
					  
		  </div>
		  <div class="modal-footer">
		  	<button type="button" id="confirmarEdicao" class="btn btn-primary">Editar</button>
			<button data-dismiss="modal" id="cancel" class="btn btn-default">Cancelar</button>
		  </div>
		  
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
	<!-------------------------------- 
	INICIALIZANDO LISTA LOCAL 
	----------------------------------->
	
	<div id="lista" style="display:none"></div>
	
	
	<!-------------------------------- 
	BARRA DE FERRAMENTAS
	----------------------------------->
	
	<div>
		<button type="button" id="handButton">Hand Tool</button>
		<button type="button" id="editarButton">Editar Mapa</button>
		<button  type="button" id="criarConceitoButton">Novo Conceito</button>
		<button  type="button" id="novaLigacao" style="display:none">Nova Ligação</button>
		<button type="button" id="editar" style="display:none">Editar</button>
		<button  type="button" id="excluir" style="display:none">Excluir</button>
		<button  type="button" id="logout" onclick="logout()">Sair</button>
	</div>
	
	<!-------------------------------- 
	INICIALIZANDO O CANVAS
	----------------------------------->
	
	<div>
		<canvas id="canvas"  width="600" height="600"  style="display: inline-block;border: 2px solid black"></canvas>
	</div>

</body>
</html>
