<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Mapas Disponíveis</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/mapas.css" rel="stylesheet">
    
    <script src="../javascripts/jquery-2.1.1.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script>
		function logout(){
			var href = location.origin + "/" + "logout";
			window.location = href;
		}
		function criarGrupo(){
			var href = location.origin + "/" + "criarGrupo";
			window.location = href;
		}
		function excluirGrupo(){
			$("#gruposFormulario").attr("action","/excluirGrupo");
			$("#gruposFormulario").submit();
		}
		function configurarGrupo(){
			$("#gruposFormulario").attr("action","/obterInfoGrupo");
			$("#gruposFormulario").submit();
		}
    </script>

  </head>

  <body>
  	
  	<!-- DIV PARA ALERTA -->
	<% if(typeof(alerta) != 'undefined'){ %>
	  	<div class="alert alert-warning alert-dismissible" role="alert">
	  		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  		<%= alerta %>
		</div>
  	<% } %>
  	
	  
	  <div class="container">

		<div class="col-sm-6 col-sm-offset-3">
			<a href="/mapas"><button type="button" id="mapas" style="float:right">Mapas</button></a>
			<button type="button" id="logout" style="float:right" onclick="logout()">Sair</button>
			<h1><span class="fa fa-sign-in"></span> Grupos</h1>
			

			<!-- FORMULARIO MAPAS -->
			<!-- Sera encaminhado para pagina configurarGrupo.ejs ou excluirGrupo.ejs -->
			<form id="gruposFormulario" action="" method="post">
				
				<div class="col-lg-6">
					<div class="input-group">
						
						<!-- show any messages that come back with authentication -->
						<% for (var i=0; i < listaGruposCoordenados.length; i++) { %>
							<% var item = listaGruposCoordenados[i].idGrupo +  " - " + listaGruposCoordenados[i].nomeGrupo%>
							
							
							<div class="radio">
								<label>
									<input type="radio" name="idGrupo" id="idsGrupos" value="<%= listaGruposCoordenados[i].idGrupo %>" required autofocus>
									<%= item %>
								</label>
								<span class="label label-info"> Coordenado</span>
							</div>
							
						<% } %>
						
						<% for (var i=0; i < listaGrupos.length; i++) { %>
							<% var item = listaGrupos[i].idGrupo +  " - " + listaGrupos[i].nomeGrupo%>
							
							
							<div class="radio">
								<label>
									<input type="radio" name="idGrupo" id="idsGrupos" value="<%= listaGrupos[i].idGrupo %>" required autofocus>
									<%= item %>
								</label>
							</div>
							
						<% } %>
						
					</div><!-- /input-group  -->
				</div><!-- /.col-lg-6 -->
				
				<button id="criarGrupoButton" type="button" class="btn btn-lg btn-primary btn-block" onclick="criarGrupo();">Criar grupo</button>
				<button id="configurarGrupoButton" type="button" class="btn btn-lg btn-primary btn-block" onclick="configurarGrupo();">Configurar grupo</button>
				<button id="excluirGrupoButton" type="button" class="btn btn-lg btn-primary btn-block" onclick="excluirGrupo();">Excluir grupo</button>
			</form>
			
		</div>

	</div>
	  
  </body>

</html>
